.tb
{
    display: table;
    width: 100%;
}

.td
{
    display: table-cell;
    vertical-align: middle;
}

input, button
{
    color: #008d62;
    font-family: Nunito;
    padding: 0;
    margin: 0;
    border: 0;
    background-color: transparent;
}

#cover
{
    /* top: 50%; */
    right: 0;
    width: 60%; /*검색 네모칸 가로 크기*/
    margin: -83px auto 0 15%;
    /* background-color: #bbffb9; */
    border-radius: 20px;
    box-shadow: 0 10px 40px #008d62, 0 0 0 10px #ffffffeb;
    transform: scale(0.6);

    box-shadow: none;
    border: 5px solid #008d62; 
  
    
}

form
{   
    height: 80px;/*검색 네모칸 세로 크기*/
}

input[type="text"]
{
    width: 100%;
    height: 80px; /*input 네모칸 세로 크기*/
    font-size: 30px;
    line-height: 1;
    position : fixed;
    top : 0;
}

input[type="text"]::-moz-placeholder
{
    color: #4ccd97;
}

input[type="text"]:-ms-input-placeholder
{
    color: #4ccd97;
}

input[type="text"]::placeholder
{
    color: #4ccd97;
}

#s-cover
{
    width: 1px;
    padding-left: 35px;
}

button
{
    position: relative;
    display: block;
    width: 84px;
    height: 96px;
    cursor: pointer;
}

#s-circle
{
    position: relative;
    top: -17px; /* 검색 버튼 원 세로 위치*/
    right: -10%;
    width: 43px;
    height: 43px;
    margin-top: 0;
    border-width: 15px;
    border: 15px solid #008d62;
    background-color: transparent;
    border-radius: 50%;
    transition: 0.5s ease all;
}

button span
{
    position: absolute;
    top: 60px;
    left: 43px;/* 검색 바 원 세로 위치*/
    display: block;
    width: 40px;
    height: 10px;
    background-color: transparent;
    border-radius: 10px;
    transform: rotateZ(52deg);
    transition: 0.5s ease all;
}

button span:before, button span:after
{
    content: '';
    position: absolute;
    bottom: 0;
    right: 0;
    width: 40px;
    height: 15px;
    background-color: #008d62;
    border-radius: 10px;
    transform: rotateZ(0);
    transition: 0.5s ease all;
}

#s-cover:hover #s-circle
{
    top: -5px;
    width: 67px;
    height: 15px;
    border-width: 0;
    background-color: #008d62;
    border-radius: 20px;
}

#s-cover:hover span
{
    top: 45%;
    left: 56px;
    width: 25px;
    margin-top: -3px;
    transform: rotateZ(0);
}

#s-cover:hover button span:before
{
    bottom: 11px;
    transform: rotateZ(52deg);
}

#s-cover:hover button span:after
{
    bottom: -11px;
    transform: rotateZ(-52deg);
}
#s-cover:hover button span:before, #s-cover:hover button span:after
{
    right: -6px;
    width: 40px;
    background-color: #008d62;
}

#ytd-url {
  display: block;
  position: fixed;
  right: 0;
  bottom: 0;
  padding: 10px 14px;
  margin: 20px;
  color: #fff;
  font-family: Nunito;
  font-size: 14px;
  text-decoration: none;
  background-color: #4ccd97;
  border-radius: 4px;
  box-shadow: 0 10px 20px -5px rgba(255, 117, 117, 0.86);
  z-index: 125;
}